.container {
  font-family: "Noto": sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

header {  
  grid-column: 1 / 3;
  grid-row: 1;
  border-radius: 5px;
  padding: 10px;
  background-color: #850d0d;
  color: whitesmoke;
  text-align: center;
}

aside {
  border-right: 1px #850d0d;
  grid-column: 1;
  grid-row: 2;
}

main {
  grid-column: 2;
  grid-row: 2;
}

footer {
  border-radius: 5px;
  padding: 10px;
  background-color: #850d0d;
  color: whitesmoke;
  text-align: center;
  grid-column: 1 / 3;
  grid-row: 3
}
body {
  background-color: #303030;
  font-family: "Noto Sans", sans-serif;
  color: #FF8A8A;
}
h1, h2, h3 {
  font-family: "Times New Roman", serif;
  color: #850d0d;
  text-shadow: 5px 5px 5px #410606;
  text-decoration: underline;
}

li {
  color: #FF8A8A;
}

fieldset {
  border-style: ridge;
  border-color: black;
}

input {
  color: #919191;
}

.difficulty-options label {
  color: #FF8A8A;
  font-weight: bold;
}

.rate {
  color: #850d0d;
  text-shadow: 5px 5px 5px #410606;
}
