div {
  border: 2px solid black;
}
*{
  box-sizing: border-box;
}
[class*="col"]  {
      float: left;
    }
.row::after{
  content:"";
  clear: both;
  display: block;
}

span {
  display: block;
  box-sizing: border-box;
}

#header {
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

#footer{
  text-align:right;
  font-style:italic;
  color: #262626;
  width:100%;
  box-sizing: border-box;
}
  
.container {
  font-family: "Times New Roman": serif;
}

body {
  background-color: #303030;
  font-family: "Noto Sans", sans-serif;
  color: #FF8A8A;
}
h1, h2, h3 {
  font-family: "Times New Roman", serif;
  color: #850d0d;
  text-shadow: 5px 5px 5px #410606;
  text-decoration: underline;
}

li {
  color: #FF8A8A;
}

fieldset {
  border-style: ridge;
  border-color: black;
}

input {
  color: #919191;
}

.difficulty-options label {
  color: #FF8A8A;
  font-weight: bold;
}

.rate {
  color: #850d0d;
  text-shadow: 5px 5px 5px #410606;
}
